button {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.black-style {
    background-color: black;
    color: white;
}
.yellow-style {
    background-color: yellow;
}